<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width; height=device-height; maximum-scale=1.4; initial-scale=1.0; user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Media Streaming Archive</title>
<link rel="stylesheet" href="###main_style###" />
<script src="###js_dir###custom.js"></script>
</head>
<body>
<!-- menu start -->
<div id="left">
<h2>Media Streaming Menu</h2>
<ul>
	<li><a href="index.php?dir=/">Home Directory</a></li>
	<li><a href="javascript:history.back();">Go Back!</a></li>
	<!--li><a href="#"  onclick="javascript:ajax_cmd('stop','avconv','avconv');">kill all encodes</a></li-->
</ul>
<div id="folder_name">###folder###</div>
</div>
<!-- menu end -->
<!-- main start -->
<div id="right">
<table>
<thead><tr><td>Directory listing for ###folder###</td></tr></thead>
<tbody>
<!-- folders -->
###list_folders###
<!-- /folders -->
</tbody>
</table>
<table>
<tbody>
<!-- files -->
###list_files###
<!-- /files -->
</tbody>
</table>
</div>
<!-- main end -->
</body>
</html>
