<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="max-age=120" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="expires" content="Sat, 03 Dec 2011 00:00:00 GMT" />
<meta name="handheldfriendly" />
<meta name="viewport" content="width=device-width; height=device-height; maximum-scale=1.4; initial-scale=1.0; user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Media Streaming Archive</title>

<link rel="stylesheet" href="###main_style###" />

<script src="###js_dir######jquery###"></script>
<script src="###js_dir###custom.js"></script>
<script type="text/javascript">
<!--//
function popitup(url) {
	newwindow=window.open(url,'name','height=###height###,width=###width###');
	if (window.focus) { newwindow.focus() }
	return false;
}
//.->
</script>
</head>

<body>

<!-- menu start -->
<div id="left">
<h2>Media Streaming Menu</h2>
<ul>
	<li><a href="index.php?dir=/">Home Directory</a></li>
	<li><a href="javascript:history.back();">Go Back!</a></li>
	<!--li><a href="#"  onclick="javascript:ajax_stopstream('avconv','avconv');">kill all encodes</a></li-->
</ul>
<div id="folder_name">###folder###</div>
</div>
<!-- menu end -->

<!-- main start -->
<div id="right">
<table cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<td colspan="4">Directory listing for ###folder###</td>
		</tr>
	</thead>
	<tbody>
<!-- folders -->
	###list_folders###
<!-- /folders -->
<!-- files -->
	###list_files###
<!-- /files -->
	</tbody>
</table>
</div>
<!-- main end -->

</body>
</html>
